/* navgation bar */

nav {
  background-color: #6c63ff;
  padding: 1.2rem 3.2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav .site-logo {
  width: 14rem;
}

/* nav ul {
  margin-right: 20rem;
} */
nav ul li {
  list-style: none;
}

.nav-icons {
  margin-left: 2.4rem;
}

.nav-google-icons {
  width: 2.8rem;
}

.search-bar {
  background-color: #efefef;
  width: 35rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.search-img {
  width: 1.8rem;
}

.search-bar input {
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  outline: none;
  border: 0;
}

.search-img {
  width: 4rem;
  padding: 0.8rem;
}

.search-bar input {
  width: 100%;
}

.nav-profile-pic {
  width: 4rem;
  border-radius: 50%;
}

.online {
  position: relative;
  display: inline-block;
}

.online::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  background-color: #07bc3a;
  position: absolute;
  top: 0;
  right: 0;
}

/* Main page  layout*/

.layout-container {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.left-sidebar {
  flex-basis: 18%;
  position: sticky;
  align-self: flex-start;
  top: 0;
}
.right-sidebar {
  flex-basis: 20%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  border-radius: 1rem;
}

.main-content {
  flex-basis: 58%;
}

/* left sidebar */

.imp-links {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0.2rem 0.4rem 1.6rem #ccc;
}
.imp-links a,
.shortcut-links a {
  display: flex;
  text-decoration: none;
  align-items: center;
  width: fit-content;
  margin-bottom: 2.8rem;
  color: #626262;
}

.imp-links a img,
.shortcut-links a img {
  width: 3.2rem;
  margin-right: 1.5rem;
}

.imp-links a span,
.shortcut-links a span {
  font-size: 1.6rem;
}
.imp-links a:last-child {
  color: #1876f2;
  font-size: 1.4rem;
  margin: 0;
}

.shortcut-links {
  /* background-color: #fff; */
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0.2rem 0.4rem 1.6rem #ccc;
}
.shortcut-links {
  margin-top: 2rem;
}

.shortcut-links p {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 1.8rem;
}

.shortcut-links a img {
  border-radius: 1.8rem;
}

.shortcut-links a:last-child {
  margin: 0;
}

/* Right sidebar */

/* events */

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title h4 {
  font-size: 2rem;
  font-weight: 500;
}

.title a {
  font-size: 1.2rem;
  text-decoration: none;
}

.event {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.left-event {
  text-align: center;
  font-size: 1.4rem;
  height: 7.5rem;
  width: 7.5rem;
  padding: 1rem;
  background-color: transparent;
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-right: 2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left-event h3 {
  font-size: 2.6rem;
}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #fff;
  width: 100%;
  padding: 0.4rem 0;
}

.right-event {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.right-event h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
.right-event p {
  font-size: 1.4rem;
}

.right-event a {
  text-decoration: none;
  font-size: 1.2rem;
}

/* Advertisement  */

.ads-image {
  width: 100%;
  border-radius: 2rem;
}

/* Online list */

.friends {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.friends .online img {
  width: 5rem;
  border-radius: 50%;
}

.friends p {
  font-size: 1.6rem;
}

.friends .online::after {
  top: unset;
  bottom: 0.5rem;
}

/* Main content */
.story-highlights {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.story {
  position: relative;
  flex-basis: 22%;
  aspect-ratio: 9 / 16;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/status-1.png);
  background-position: center;
  object-fit: cover;
  border-radius: 2rem;
  background-image: linear-gradient(to left, rgb(0, 0, 0, 0.5));
}

.upload {
  padding: 0.8rem;
  background-color: #1876f2;
  color: #fff;
  border-radius: 50%;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: 6rem;
  border: 0.2rem solid #fff;
  font-weight: 100;
}

.story p {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
}

.post-user-img {
  width: 6rem;
  border-radius: 50%;
  border: 0.3rem solid #0000ff;
  padding: 0.2rem;
}

.story-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/status-2.png);
}
.story-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/status-3.png);
}
.story-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/status-4.png);
}

/* write post container */

.post-container {
  position: relative;
}
.post-row .fa-ellipsis-vertical {
  position: absolute;
  right: 2rem;
  top: 3.6rem;
  color: #333;
  font-size: 2rem;
}

.write-post-container {
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile img {
  width: 5rem;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.profile span {
  font-size: 1.8rem;
  font-weight: 400;
  color: #626262;
}
.profile p {
  font-size: 1.4rem;
}

.write-post-input-container {
  /* padding-right: 3rem; */
  padding-left: 5rem;
}
.write-post-input-container textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 3.8rem 0.8rem;
  border-bottom: 0.1rem solid #ccc;
  resize: none;
}

.write-post-input-container textarea::placeholder {
  font-size: 1.6rem;
  font-family: sans-serif;
}

.write-options {
  margin-left: 5rem;
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.write-options a {
  font-size: 1.4rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #777;
  margin-left: 1rem;
}

.write-options img {
  width: 1.8rem;
}

.post-container {
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 2rem;
}

.post-container .post-date {
  color: #929292;
}

.post-text {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #777;
  line-height: 2.2rem;
}

.post-text a {
  text-decoration: none;
  color: rgb(7, 7, 220);
}

.post-img {
  width: 100%;
  margin-top: 1.6rem;
  border-radius: 0.4rem;
}

.post-activity {
  margin-top: 2rem;
}
.post-activity img {
  width: 3rem;
}

.post-activity span {
  font-size: 1.6rem;
}

/* Footer */

.footer-container p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
